DEFINE_ERROR(ERROR_ANY, "Action successed")
DEFINE_ERROR(ERROR_MEMORY_CONSTRAINT_EXCEEDED, "Requested memory with invalid parameters")
DEFINE_ERROR(ERROR_UNKNOWN_RESOURCE, "Requested unknown resource")
DEFINE_ERROR(ERROR_COLLECTION_FULL, "Collection is full")
DEFINE_ERROR(ERROR_ACTION_ALREADY_REQUESTED, "Action already requested")
DEFINE_ERROR(ERROR_RESOURCE_UNAVAILABLE, "Resource unavailable")
DEFINE_ERROR(ERROR_COMMUNICATION_ERROR, "Communication error")
DEFINE_ERROR(ERROR_CONVERSION_ERROR, "Conversion error")
DEFINE_ERROR(ERROR_TIMEOUT, "Timeout occurred!")
DEFINE_ERROR(ERROR_LIBRARY_ERROR, "Library function call failed")
