DEFINE_ERROR(error_any, "Action successed")
DEFINE_ERROR(memory_constraint_exceeded, "Requested memory with invalid parameters")
DEFINE_ERROR(error_unknown_resource, "Requested unknown resource")
DEFINE_ERROR(error_null, "Invalid NULL pointer")
DEFINE_ERROR(error_timeout, "Timeout")
DEFINE_ERROR(error_collection_full, "Collection is full")
DEFINE_ERROR(action_already_requested, "Action already requested")
DEFINE_ERROR(error_resource_unavailable, "Resource unavailable")
DEFINE_ERROR(error_communication_error, "Communication error")
DEFINE_ERROR(error_conversion_error, "Conversion error")
DEFINE_ERROR(error_invalid_input_parameter, "Invalid input parameter")
DEFINE_ERROR(error_library_error, "Library function call failed")
